resource_group_name            = "lakehouse-rg"
location                       = "eastus"
project_name                   = "lakehouse"
environment                    = "dev"
storage_account_name           = "lakehouse0001"
storage_container_name         = "warehouse"
acr_name                       = "lakehouseacr"
azure_sp_client_id             = "00000000-0000-0000-0000-000000000000"
azure_sp_client_secret         = "change-me"
azure_tenant_id                = "00000000-0000-0000-0000-000000000000"
allowed_client_ip              = "1.2.3.4"
# postgres_public_network_access_enabled = false  # only after adding private networking
key_vault_name                 = "lakehouse-kv"
postgres_server_name           = "lakehouse-postgres"
postgres_admin_username        = "lakehouse"
postgres_admin_password        = "ChangeMe123!"
postgres_database_name         = "iceberg_catalog"
eventhub_namespace_name        = "lakehouse-ehns"
eventhub_name                  = "lakehouse-events"
log_analytics_workspace_name   = "lakehouse-law"
mlflow_image                   = null
unity_catalog_image            = null
spark_connect_image            = null
airflow_image                  = null
airflow_admin_username         = "airflow"
airflow_admin_password         = "ChangeMeAirflow123!"
